<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
		<div id="nav-left">
			<span class="logo">EATIT</span>
			<a href="/recipes">All Recipes</a>
			<% if (user) { %>
				<a href="/recipes/new">Add Recipe</a>
				<a href="/users/<%= user._id %>">Profile</a>
			<% } %>
		</div>
        <div id="nav-right">
			<% if (user) { %>
				<a href="/logout">Log Out</a>
			<% } else { %>
				<a href="/auth/google">Login with Google</a>
			<% } %>
        </div>
    </nav>
    <main>
        <h1 id="title"><%= title %></h1>